@charset "UTF-8";
*{margin: 0;padding: 0;}
ul,ol{list-style: none;}
a{color: #000; text-decoration: none;}
body{
    font-family: 'Noto Sans KR', sans-serif, 'Pretendard';
    font-size: 14px;
    line-height: 22px;
    color: rgb(0, 0, 0);
    background-color: #fff;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css");
#header{
    background-color: #fff;
    position: relative;
    z-index: -10;
}
.logo_wrap{
    margin: auto;
    width: 1320px;
	height: 110px;
    position: relative;
}
.logo a img{
    width: 110px;
}
/*pc*/
@media (min-width:1000px){
    .m_gnb{
        display: none;
    }
    .gnb{
        width: 70%;
        float: right;
        padding-top: 50px;
    }
    .gnb>li{
        width: 100px;
        float: left;
        text-align: center;
        margin: 0 50px;
     }
     .gnb>li>a{
        font-size: 18px;
        display: block;
        font-weight: 400;
        font-family: 'Pretendard';
        color: #1C1C1C;
    }
    .logo{
        width: 30%;
        float: left;
        padding-top: 15px;
    }    
}
/*tablet+mobile*/
@media (max-width:999px){
    .logo_wrap{
        width: 100%;
    }
    .gnb{
        display: none;
    }
    .util{
        display: none;
    }
    .logo{
        text-align: center;
        padding-top: 15px;
    }
    .menu_link{
        position: absolute;
        top: 20px;
        right: 10px;
        font-weight: 900;
        font-size: 18px;
    }
    .mobile_gnb li{
        font-size: 20px;
        font-family: 'Pretendard';
        font-weight: 800;
    }
    .mobile_gnb li:nth-child(5){
        font-size: 12px;
        margin-top: 30px;
    }
    .mobile_gnb li:nth-child(6){
        font-size: 12px;
    }
}
.util{
    position: absolute;
    top: 5px;
    right: 0;
}
.util li{
    float: left;
    margin-left: 10px;
}
.util li a{
    font-size: 12px;
    display: block;
    padding-left: 10px;
    font-weight: 400;
}
.search{
    width: 90px;
    height: 20px;
    position: relative;
    margin-right: 8px;
}
.search input{
    border-radius: 30px;
    background-color: #F1F1F1;
    border: none;
    width: 100%;
    height: 20px;
    outline: none;
    padding-left: 7px;
    font-size: 10px;
}
.search_btn{
    position: absolute;
    top: 6px;
    right: 0;
    border: none;
    background: none;
    cursor: pointer;
    width: 15px;
    height: 15px;
}
.search_btn img{
    width: 13px;
}
.underline{
    position: relative;
}
.underline:after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0px;
    height: 12px;
    transition: all 0.5s ease-in-out;
    transition-duration: 0.3s;
    opacity: 0;
    background-color: #FED502;
    z-index: -1;
  }
.underline:hover:after{
    width: 100%;
    opacity: 1;
}
/*영상배너*/
#banner { 
    width: 100%; 
    overflow: hidden;
    margin: 0px auto; 
    border-top-width: 4px;
    border-top-style: double;
    border-top-color: #1C1C1C;
    position: relative; 
    background-color: #fff;
}
#banner video {
    position: absolute;
    padding-top: 30px;
}
/*pc*/
@media (min-width:1000px){
    #banner { 
        height: 500px; 
    }
    #banner video {
        height: 450px;
        left: 50%; 
        margin-left: -960px;
    }
    .m_banner{
        display: none;
    }
}
/*tablet+mobile*/
@media(max-width:999px){
    #banner { 
        height: 270px; 
    }
    #banner video {
        height: 220px;
        left: 50%; 
        margin-left: -470px;
        padding-top: 30px;
    }
    .pc_banner{
        display: none;
    }
}

/*container*/
#container{
    width: 100%;
    margin: 50px auto;
    border-top: solid 2px #000;
    font-family: 'Pretendard';
    color: #2A2A2A;
    background-color: #fff;
}
.aboutus{
    text-align: center;
    background-color: #fff;
}
#section1{
    position: relative;
}

#section1 p{
    margin: auto;
    font-weight: 600;
}
#section2_wrap{
    width: 100%;
    background-color: #FED502;
}
#section2{
    width: 1320px;
    margin: auto;
    position: relative;
}
.section2_contents{
    background: url(../images/sub1/section2_contents_bg.png) no-repeat;
}
.sec2_p1{
    font-weight: 900;
    padding-top: 220px;
}
.sec2_p2{
    font-weight: 600;
}
.sec2_p3{
    color: #585858;
}

#section3{
    text-align: center;
    line-height: 30px;
    background: url(../images/sub1/section3_bg.png) no-repeat center center;
}
#section4{
    margin: auto;
    text-align: center;
    border-bottom: 2px solid #1C1C1C;
}
#section4 p{
    font-weight: 900;
}
#section6 { 
    width: 100%; 
    margin: 0px auto; 
    position: relative; 
    background-color: #fff;
    text-align: center;
    overflow: hidden;
}
#section6 video {
    position: absolute;
}
#section7_wrap{
    width: 100%;
    background-color: #FED502;
}
#section7{
    margin: auto;
    position: relative;
}
.sec7_p1{
    font-weight: 900;
    padding-top: 110px;
}
.sec7_p2{
    font-weight: 600;
}
.sec7_p3{
    color: #585858;
}

#section9{
    margin: auto;
    text-align: center;
}

#section9 button a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

/*pc*/
@media (min-width:1000px){
    .aboutus img{
        margin-top: -40px;
        height: 80px;
    }
    #section1:before {
        content : "";
        position: absolute;
        left    : 0;
        bottom: -20px;
        width   : 55%;
        border-bottom: 2px solid #1C1C1C;
    }
    #section1 p{
        width: 1320px;
        margin-top: 150px;
        font-size: 30px;
        line-height: 40px;
    }
    #section2_wrap{
        margin-top: 250px;
        height: 470px;
    }
    .section2_contents{
        width: 100%; 
        background-position: right -30% bottom;
        background-size: 70%;
        position: absolute;
        top: -245px;
        left: 0;
        height: 770px;
    }

    .sec2_p1{
        font-size: 50px;
    }
    .sec2_p2{
        font-size: 30px;
        line-height: 40px;
        padding: 30px 0 30px;
    }
    .sec2_p3{
        font-size: 22px;
        line-height: 30px;
    }

    #section3{
        height: 605px;
        margin: 150px auto 0;
    }
    .sec3_p1{
        padding-top: 25px;
        font-size: 22px;
        line-height: 30px;
    }
    .sec3_p2{
        font-size: 25px;
        line-height: 40px;
        font-weight: 900;
        padding: 50px 0 40px;
    }
    .sec3_p3{
        line-height: 50px;
        font-size: 40px;
    }
    .sec3_p4{
        font-weight: 900;
        font-size: 30px;
        padding: 60px 0;
    }
    #section4{
        width: 50%;
    }
    #section4 p{
        margin: 300px 0 20px;
        font-size: 40px;
        line-height: 50px;
    }
    #section5{
        width: 1320px;
        margin: 250px auto 0;
        height: 600px;
        background: url(../images/sub1/section5_contents_bg.png) no-repeat right bottom;
    }
    #section5 img{
        display: none;
    }
    .sec5_p1{
        font-weight: 900;
        font-size: 30px;
        line-height: 40px;
    }
    .sec5_p2{
        font-size: 22px;
        line-height: 30px;
        padding-top: 30px;
    }
    #section6 {
        margin: 200px auto 0;
        height: 800px;
    }
    #section6 video {
        height: 600px;
        left: 50%; 
        margin-left: -780px;
    }
    #section6 p{
        padding-top: 600px;
        font-size: 22px;
        line-height: 30px;
    }
    #section7_wrap{
        margin-top: 350px;
        height: 470px;
    }
    #section7{
        width: 1320px;
    }
    .section7_contents{
        width: 100%; 
        background-position: right -50% bottom;
        position: absolute;
        top: -210px;
        left: 0;
        height: 770px;
    }
    .sec7_p1{
        font-size: 30px;
        line-height: 40px;
    }
    .sec7_p2{
        font-size: 22px;
        padding: 30px 0 20px;
        line-height: 30px;
    }
    .sec7_p3{
        font-size: 18px;
        line-height: 28px;
    }
    .sec7_right_ul{
        width: 550px;
        position: absolute;
        right: 0;
        top: -240px;
    }
    .sec7_right_ul li{
        float: left;
    }
    .sec7_right_ul li img{
        border-radius: 12%;
        box-shadow: 3px 3px 5px rgba(75, 75, 75, 0.3);
    }
    .sec7_right_ul li:nth-child(2){
        padding: 0 0 25px 30px;
    }
    .sec7_right_ul li:nth-child(4){
        padding-left: 30px;
    }

    #section8{
        width: 1320px;
        margin: 200px auto;
        height: 580px;
    }
    .sec8_top{
        width: 950px;
        height: 280px;
        margin: auto;
    }
    .sec8_top img{
        float: left;
        width: 550px;
        display: block;
    }
    .sec8_top h2{
        float: right;
        font-size: 40px;
        font-weight: 900;
        padding-top: 140px;
    }
    .sec8_box{
        width: 1320px;
        margin: auto;
        text-align: center;
        box-sizing: border-box;
    }
    .box_text{
        width: 320px;
        position: relative;
        color: #E8E8E8;
        border-top: solid 1px #dadce0;
        display: inline-block;
        cursor: pointer;
        text-align: left;
    }
    .box_text h3{
        padding: 30px 0 20px;
        font-size: 22px;
        line-height: 30px;
    }
    .box_text>p{
        padding-right: 20px;
        font-size: 18px;
        line-height: 28px;
    }
    .clicked_box_text{
        border-color: #161616;
        color: #161616;
        background: #fdfeff;
    }
    
    #section9{
        width: 1320px;
        margin-top: 200px;
        height: 600px;
    }
    #section9 button{
        display: block;
        width: 500px;
        height: 60px;
        background-color: #242424;
        margin: 40px auto;
    }

}
/*tablet+mobile*/
@media(max-width:999px){
    #container{
        margin: 30px auto;
    }
    .aboutus img{
        width: 152px;
        margin-top: -25.75px;
    }
    #section1:before {
        content : "";
        position: absolute;
        left    : 20%;
        bottom: -20px;
        width   : 60%;
        text-align: center;
        border-bottom: 2px solid #1C1C1C;
    }
    #section1 p{
        text-align: center;
        margin-top: 50px;
        font-size: 20px;
        line-height: 30px;
        padding-left: 10px;
    }
    #section2_wrap{
        margin-top: 150px;
        height: 250px;
        width: 100%;
    }
    .section2_contents{
        width: 90%;
        background-position: right -75% bottom;
        background-size: 80%;
        position: absolute;
        top: -245px;
        left: 10px;
        height: 510px;
       
    }
    #section2{
        width: 100%;
        box-sizing: border-box;
    }
    .sec2_p1{
        font-size: 30px;
    }
    .sec2_p2{
        font-size: 20px;
        padding: 15px 0 25px;
    }
    .sec2_p3{
        width: 55%;
        font-size: 17px;
        line-height: 25px;
    }
    #section3{
        width: 100%;
        overflow: hidden;
        margin: 160px auto;
    }
    .sec3_p1{
        font-size: 17px;
        padding-top: 40px;
        line-height: 25px;
    }
    .sec3_p2{
        font-size: 22px;
        line-height: 30px;
        font-weight: 900;
        padding: 50px 0;
    }
    .sec3_p3{
        line-height: 40px;
        font-size: 25px;
    }
    .sec3_p4{
        font-weight: 900;
        font-size: 30px;
        padding: 50px 0;
    }
    #section3 img{
        width: 80px;
    }
    #section4{
        width: 75%;
    }
    #section4 p{
        margin: 100px 0 10px;
        font-size: 30px;
        line-height: 36px;
    }
    #section5{
        width: 90%;
        margin: 100px auto;
        overflow: hidden;
        box-sizing: border-box;
        text-align: center;
    }
    #section5 img{
        width: 106%;
        margin-left: -3%;
    }
    .sec5_p1{
        font-weight: 900;
        font-size: 30px;
        padding-top: 50px;
    }
    .sec5_p2{
        width: 90%;
        font-size: 17px;
        line-height: 25px;
        padding: 50px 5%;
    }
    #section6 { 
        overflow: hidden; 
        
    }
    #section6 video{
        height: 310px;
        left: 50%; 
        margin-left: -475px;
    }
    #section6 p{
        width: 80%;
        font-size: 17px;
        line-height: 25px;
        padding: 330px 10% 0;
    }
    #section7_wrap{
        margin-top: 250px;
        height: 500px;
    }
    .section7_contents{
        width: 90%; 
        position: absolute;
        top: -215px;
        left: 5%;
        box-sizing: border-box;
        overflow: hidden;
    }
    .sec7_p1{
        font-size: 30px;
        line-height: 40px;
    }
    .sec7_p2{
        font-size: 20px;
        line-height: 25px;
        padding: 40px 0 30px;
    }
    .sec7_p3{
        font-size: 17px;
        line-height: 25px;
    }
    .sec7_right_ul{
        padding-top: 180px;
     }
     .sec7_right_ul li{
         float: left;
         width: 49%;
         background-color: #FED502;
     }
     .sec7_right_ul li img{
         display: block;
         width: 100%;
         background-color: #FED502;
         
     }
     .sec7_right_ul li:nth-child(1){
         padding: 0 0.5%;
     }
     .sec7_right_ul li:nth-child(2){
        padding: 0 0.5%;
    }
     .sec7_right_ul li:nth-child(3){
         padding: 1% 0.5% 10px;
     }
     .sec7_right_ul li:nth-child(4){
         padding: 1% 0.5% 10px;
     }
    #section8{
        width: 100%;
        margin: 250px auto 0;
        overflow: hidden;
        text-align: center;
    }
    .sec8_top{
        margin: auto;
    }
    .sec8_top img{
        display: block;
        width: 100%;
    }
    .sec8_top>h2{
        font-size: 30px;
        font-weight: 900;
        padding: 40px 0;
    }
    .sec8_box{
        width: 90%;
        overflow: hidden;
        text-align: center;
        margin: auto;
    }
    .box_text{
        color: #161616;
        border-top: solid 1px #161616;
        margin-bottom: 40px;
    }
    .box_text h3{
        font-size: 20px;
        padding: 30px 0 20px;
    }
    .box_text p{
        font-size: 17px;
        line-height: 25px;
        width: 90%;
        margin: auto;
    }

    #section9{
        width: 100%;
        margin: 100px auto 0;
        overflow: hidden;
    }
    #section9 img{
        width: 176%;
        margin-left: -38%;
        display: block;
    }
    #section9 button{
        display: block;
        width: 300px;
        height: 60px;
        background-color: #242424;
        margin: 40px auto;
    }

}


/*footer*/
#footer_wrap{
    width: 100%;
    height: 500px;
    background: #131313 url(../images/footer/footer_bg.png) no-repeat left bottom;
}
#footer{
    width: 1320px;
    height: 100%;
    margin: 0 auto;
    color: #fff;
    background: url(../images/footer/footer_box.png) no-repeat center center;
    position: relative;
}
#footer p{
    position: absolute;
    bottom: 20px;
    left: 10px;
}
.pointer img{
    position: absolute;
    top: 150px;
    left: 280px;
    width: 300px;
}
/*pc*/
@media (min-width:1000px){
    .sns{
        position: absolute;
        right: 0;
        top: 245px;
    }
    .sns li{
        display: inline-block;
        margin: 0 5px;
    }
    .sns li a{
        color: #fff;
        padding: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .contact_btn{
        text-align: center;
        padding-top: 155px;
    }
    .contact_btn a img{
        padding: 0 0 20px 15px;
    }
    .contact_btn a{
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }
    .f_underline{
        position: relative;
      }
    .f_underline:after{
        content: "";
        position: absolute;
        left: 0;
        bottom: -3px;
        width: 0px;
        height: 2px;
        transition: all 0.3s ease-in-out;
        transition-duration: 0.3s;
        opacity: 0;
        background-color: #ffffff;
        z-index: 1;
      }
    .f_underline:hover:after{
        width: 100%;
        opacity: 1;
    }
    
}
/*tablet+mobile*/
@media(max-width:999px){
    #footer_wrap{
        width: 100%;
    }
    #footer{
        width: 100%;
    }
    .pointer img{
       display: none;
    }
    .sns{
        position: unset;
        text-align: center;
        padding-top: 50px;
    }
    .sns li{
        display: inline-block;
        margin: 0 5px;
    }
    .sns li a{
        color: #fff;
        padding: 5px;
        font-size: 15px;
        font-weight: 500;
    }
    .contact_btn{
        text-align: center;
        padding-top: 85px;
    }
    .contact_btn a img{
        padding: 0 0 20px 15px;
    }
    .contact_btn a{
        color: #fff;
        font-size: 30px;
        font-weight: 500;
    }
}
